*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.layout-header{
    border: 1px solid black;
    width: 800px;
}
.layout-header__title{
    margin: 15px;
}

.container{
    display: flex;
}

.sidebar-left,
.sidebar-right{
    flex-basis: 200px;
    flex-shrink: 0;

}
.sidebar-left{
    border-left: 1px solid black;
}

.contents{
    width:400px;
    border-left: 1px solid black;
}
.contents__article{
    margin-left: 20px;
}