
.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 1px 10px 0px 0px rgba(0, 0, 0, 0.1);
}


.main-img-profile{
    width: 100px;
    height: 100px;
    
}

.play-list-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.play-list-name h1{
    font-size: 22px;
    font-weight: bold;
}
.play-list-name h3{
    margin-top: 10px;
    opacity: 0.5;
}

.additional-features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.additional-features__shuffle input{
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    position: relative;
    right: 30px;
}

.additional-features__like span{
    opacity: 0.5;
    font-weight: 550;
}

