@import "reset.css";
@import "status-bar.css";
@import "play-list-profile.css";
@import "play-list-song.css";
@import "playing-btn.css";

* {
    box-sizing: border-box;
  }
  
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width:400px;
    margin:0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cccccc;
}

.container{
    width: 370px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

