.popular-authors{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.popular-authors-data{
    display: flex;
}
.popular-authors-data__img{
    width: 120px;
    height: 130px;
    border:1px solid black;
    border-radius: 10px;
}
.popular-authors-data__info{
    width: 70%;
    margin-left: 20px;
}

.popular-authors-data__info h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.popular-authors-data__info h5{
    opacity: 0.2;
}