.top-adventures{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.side-book__list{
    display: flex;
    justify-content: space-between;
}
.side-book__list__book{
    width: 70px;
    height: 110px;
    border: 1px solid black;
    border-radius: 10px;
}
.side-book__list__book:nth-child(4){
    width: 40px;
    height: 110px;
    border-radius: 10px 1px 1px 10px; 
}
.side-book__star{
    display: flex;
    
}
.side-book__star__book{
    width: 25%;
}

.side-book__star__book:nth-child(2){
    margin-left: 20px;
}
.side-book__star__book:nth-child(3){
    margin-left: 25px;
}
.side-book__star__book:last-child{
    position:relative;
    left: 20px;
}

.side-book__star i{
    font-size: 10px;
    color: yellow;
}