@import "reset.css";
@import "status-bar.css";
@import "search-bar.css";
@import "main-book.css";
@import "side-book.css";
@import "popular-authors.css";

body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 300px;
    background-color: white;
    padding:50px 30px 15px 30px;
}